{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script></head>
    <link rel="stylesheet" href="{% static '/css/styl.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg d-flex justify-content-start bg-success">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="http://127.0.0.1:8000" class="nav-link active text-light"><span class="material-icons">arrow_back</span></a></li>
        </ul>
    </nav>
    <center>
        <form action="/addcustomer" method="post">
            {% csrf_token %}
            <h1>Add customer</h1>
            <table>
                {{cust.as_table}}
            </table>
            <input type="submit" value="Submit">
        </form>
        <br>
        <div>
            {% if messages %}
                {% for i in messages %}
                    {{ i }}
                {% endfor %}
            {% endif %}
        </div>
    </center>
</body>
</html>